.top-bar {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    background-color: #2d2c3e;
}

.top-bar .navbar-brand {
    display: inline-block;
    width: 90px;
    height: 30px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90px auto;
}